input[hidden] + label[for].btn-toggle {
	background-color: var(--button-disabled-background);
	margin: 0.3rem;
	transition: background-color 300ms ease-in-out;
}

input[hidden]:checked + label[for].btn-toggle {
	background-color: var(--button-background);
}

input[hidden]:not(:checked) + label[for].btn-toggle .when-checked {
	display: none;
}

input[hidden]:checked + label[for].btn-toggle .when-unchecked {
	display: none;
}

.input-group input, .input-group textarea {
	margin-top: 0.2em;
	padding: 0.4em 0.5em;
	width: 100%;
}

.input-group:not(:last-of-type) {
	margin-bottom: 0.6em;
}
