@media (prefers-color-scheme: dark) {
	:root:not([data-theme="light"]) > body.background-primary {
		background-color: #151515;
	}

	.input-group input, .input-group textarea {
		background-color: inherit;
		color: currentColor;
		transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
		border-width: 0 0 2px 0;
	}

	.input-group input:focus, .input-group textarea:focus {
		background-color: #fafafa;
		color: #3a3a3a;
	}
}

@media (min-width: 800px) {
	.mobile-only {
		display: none;
	}
}

@media (max-width: 800px) {
	#nav .nav-link svg {
		height: 100%;
		font-size: 1.6em;
		vertical-align: middle;
	}
}

@supports (position: sticky) {
	.sticky-section-header {
		position: sticky;
		top: 0;
		background-color: var(--accent-color);
		color: var(--alt-color);
		padding: 0.6em 0.7em;
		border-radius: 8px 8px 0 0;
		box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
		font-family: var(--title-font)
	}
}

@media (prefers-reduced-motion: reduce) {
	:root {
		scroll-behavior: auto;
	}
}
