:root {
	--accent-color-light: #900A14;
	--accent-color-dark: var(--accent-color-light);
	--button-active-background-light: #7a1418;
	--button-active-background-dark: var(--button-active-background-light);
	--map-width: 75vw;
	--map-height: 60vh;
	--scrollbar-color: var(--accent-color);
	--scrollbar-track: var(--primary-color);
	--button-padding: 0.7em 0.8em;
	--card-radius: 10px;
	--desktop-rem: 1.6vmax;
}

@media (prefers-color-scheme: dark) {
	:root {
		--blockquote-color: #A8A8A8;
	}
}

@media (max-width: 800px) {
	:root {
		--map-width: 90%;
	}
}
