<section id="events" class="card shadow page-section">
	<h2 class="center">
		{% include icon.html icon="event" %}
		<span>Events</span>
	</h2>
	<div>
		<h3 class="center underline">Special Event? Enjoy it at the Pine Cone</h3>
		<p>
			<b>With a stunning view of the mountains</b>, our Events Space
			includes a patio for outdoor parties, weddings, or group meetings as
			well as a full bar, a cozy lounge, and spacious dining areas. With
			plenty of room for live music and dancing. And wait staff and kitchen
			for catering. Our staff will do all set up and clean up, leaving you
			free to enjoy the party! We offer special package rates for family
			reunions, weddings, and tours. We will help you plan everything you
			need to make your event the best ever.
		</p>
		<p>
			<b>The Events Room and Pool Patio are available for holiday and
			special parties.</b> We offer special packages for groups
			that book at the hotel which may include continental breakfast,
			refreshments for meetings, happy hours, and group rates on hotel rooms.
		</p>
	</div>
</section>
