{% capture disclaimer %}
{% include ada-disclaimer.md %}
{% endcapture %}
<section id="rooms" class="card shadow page-section">
	<h2 class="center">
		{% include icon.html icon="hotel" %}
		<span>Rooms</span>
	</h2>
	<div class="center">
		<a href="https://app.littlehotelier.com/properties/pineconeinn/" role="button" class="btn btn-primary btn-wide inline-block center" target="_blank" rel="noopener external">
			<span>Book Your Getaway Online Today</span>
			<span class="spacer">&nbsp;</span>
			{% include icon.html icon="link-external" %}
		</a>
	</div>
	<blockquote>The Pine Cone Inn is a totally charming place, with classic 1940s
		knotty-pine cuteness modernized for comfort. The hosts are a warm and
		welcoming arty couple who have done a tasteful job updating the amenities
		without making it kitschy or too slick. Cosy atmosphere, comfortable bed,
		deluxe linens, classic pink-tiled shower (so cute!), tasteful decor,
		in a location close to everything. I loved this place and the kind,
		cheery hosts, who made me and my pet feel valued and well-taken-care of.
		<br />
		<cite>NOLYN, hotels.com</cite>
	</blockquote>
	<div class="center">
		<a href="https://app.littlehotelier.com/properties/pineconeinn/" role="button" class="btn btn-primary btn-wide inline-block center" target="_blank" rel="noopener external">
			<span>Book Your Getaway Online Today</span>
			<span class="spacer">&nbsp;</span>
			{% include icon.html icon="link-external" %}
		</a>
	</div>
	<br />
	<div class="center">
		<a href="{{ page.url }}#accessibility" role="button" class="btn btn-primary btn-wide inline-block center" >
			{% include icon.html icon="preferences-desktop-accessibility" %}
			<span>Accessibility Disclaimer</span>
		</a>
	</div>
	<dialog id="accessibility" class="animation-speed-normal animation-ease-in-out fadeIn">
		<header class="sticky top clearfix requires-js">
			<a href="{{ page.url }}#" role="button" class="btn btn-primary float-right" title="close">
				{% include icon.html icon="x" %}
			</a>
		</header>
		{{ disclaimer | markdownify }}
	</dialog>
</section>
