<footer id="footer">
	<div class="footer-banner center uppercase" role="banner">
		<div>Relax, Rejuvenate in the natural beauty</div>
		<div>
			<span>Hiking</span>
			<span class="spacer">|</span>
			<span>Biking</span>
			<span class="spacer">|</span>
			<span>Whitewater</span>
			<span class="spacer">|</span>
			<span>Fishing</span>
			<span class="spacer">|</span>
			<span>Swimming</span>
			<span class="spacer">|</span>
			<span>Climbing</span>
		</div>
		<div>We hope to see you soon</div>
	</div>
	<hr />
	<div class="copyright">
		<span>&copy;</span>
		<time itemprop="copyrightYear">{{ 'now' | date: '%Y' }}</time>
		<span id="copyright-holder-name" itemprop="name">{{ site.data.contact.name }}</span>
		<span itemprop="copyrightHolder" itemtype="https://schema.org/Organization" itemscope="" itemref="copyright-holder-name">
			<meta itemprop="name" content="{{ site.data.contact.name }}" />
			<br />
			<img src="{{ site.data.contact.logo.url }}" width="{{ site.data.contact.logo.width }}" height="{{ site.data.contact.logo.height }}" alt="logo" itemprop="logo" decoding="async" loading="lazy" aria-label="{{ site.data.contact.name }}" />
			<meta itemprop="image" content="{{ site.data.contact.image.url }}" />
			{% include address.html address=site.data.contact.address %}
			<hr />
			<div class="flex row no-wrap overflow-x-auto">
				<a href="{{ site.data.contact.url }}" class="inline-block center contact-link" rel="external noopener" itemprop="url" aria-label="{{ site.data.contact.name }} Website">
					{% include icon.html icon="globe" %}
					<br />
					<span class="contact-text mobile-hidden">{{ site.data.contact.url | replace : 'https://', '' | replace: 'http://', '' }}</span>
				</a>
				<span>&nbsp;|&nbsp;</span>
				<a href="tel:{{ site.data.contact.telephone }}" class="inline-block center contact-link" content="{{ site.data.contact.telephone }}" title="Call" aria-label="Call {{ site.data.contact.name }}">
					{% include icon.html icon="call-start" %}
					<br />
					<span class="contact-text mobile-hidden">{{ site.data.contact.telephone | replace: '+1-', '' }}</span>
				</a>
				<span>&nbsp;|&nbsp;</span>
				<a href="mailto:{{ site.data.contact.email }}" class="inline-block center contact-link" content="{{ site.data.contact.email }}" title="Email" aria-label="Email {{ site.data.contact.name }}">
					{% include icon.html icon="mail" %}
					<br />
					<span class="contact-text mobile-hidden">{{ site.data.contact.email }}</span>
				</a>
			</div>
		</div>
	</div>
</footer>
